<h1>New Post</h1>

<%=form_tag  do %>
  <% if @post.errors.any? %>
  <div id="error_explanantion">
    <h2>There were some errors:</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
    </ul>
  </div>
<% end %>
